<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1 align="center">{{text}}</h1>
    <div>
      <h2 align="center">
          <a href="{% url 'mainpage' %}">Назад на главную страницу</a>
      </h2>
  </div>
  </body>
</html>