<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1 align="center">Приветствую</h1>
        <h2 align="center">{{text}}</h2>
    <div>
        <h3 align="center">
            <a href="{% url 'info' %}">О проекте</a>
        </h3>
    </div>
  </body>
</html>